* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App {
  text-align: center;
  background-color: #111;
  width: 100%;
}

.Container {
  position: relative;
  width: 100%;
  padding: 10vw 0 20vw;
}

.ParallaxHeight {
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ParallaxHeight p {
  background-color: rgba(20, 20, 20, 0.8);
  color: #fff;
  font-size: 40px;
  padding: 1vw 3vw;
  border-radius: 8px;
}
